<h1 class="badges-page text-center">Your Badges</h1>
<h2 class="badges-page text-center">You have <span class="total-badges"><%= @current_user.badges.count %></span> out of <%= @totalbadges %> available badges.</h2>
<div class="columns large-12 text-center" id="badges-table">
	<table>
		<tr>
			<th>Name</th>
			<th>Badge</th>
			<th>Description</th>
		</tr>
		<% @badges.each do |b| %>
			<tr>
				<td><%= b.name %></td>
				<td class="center"><%= image_tag b.image %></td>
				<td><%= b.description %></td>
			</tr>
		<% end %>
	</table>

</div>