<%= form_for @badge do |f| %>
	<div class="input-group">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="input-group">
		<%= f.label :description %>
		<%= f.date_field :description %>
	</div>
	<div class="input-group">
		<%= f.label :description %>
		<%= f.date_field :description %>
	</div>
	<div class="input-group">
		<%= f.submit %>
	</div>

<% end %>