<%= form_for @badge do |f| %>
	<div class="input-group">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="input-group">
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>
	<div class="input-group">
		<%= f.label :image %>
		<%= f.url_field :image %>
	</div>
	<div class="input-group">
		<%= f.label :condition_variable %>
		<%= f.select :condition_variable, @user_vars%>
	</div>
	<div class="input-group">
		<%= f.label :condition_operator %>
		<%= f.select :condition_operator, @operators %>
	</div>
		<div class="input-group">
		<%= f.label :condition_operator %>
		<%= f.text_field :condition_value %>
	</div>
	<div class="input-group">
		<%= f.submit class: 'button expand' %>
	</div>

<% end %>