
	<div class="row vert-align">
		<div class="small-9 large-6 medium-6	 small-centered columns">
		<h2 class='white'>Login to your dashboard</h2>
		<% if @error %>
			<div data-alert class="alert-box alert">
		  <%= @error %>
		  <a href="#" class="close">&times;</a>
		</div>
		<% end %>
		<div class="panel">
			<%= form_tag '/login' do%>
				<div class="row">
					<div class="large-12 columns">
						<%= text_field_tag :username, nil, autofocus: true, placeholder: "Username" %>
					</div>
					<div class="large-12 columns">
						<%= password_field_tag :password, nil, placeholder: "Password" %>
					</div>
					<div class="large-12 columns">
						<%= button_tag 'Login', class:'button expand' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>