%section.login-form
	= form_tag '/login', :class => "login-form-class" do

		%h1
			LOGIN

		%div.input-group
			= text_field_tag :username, nil, autofocus: true, placeholder: "Username"

		%div.input-group
			= password_field_tag :password, nil, placeholder: "Password"

		%div.input-group
			= submit_tag 'Login'	

		- if @error 
			%div.error-msg
				= @error