<h1 class="text-center">Settings</h1>
<%= form_for @current_user do |f| %>
	<div class="row">
		<div class="columns large-12">
			<% if @current_user.avatar.exists? %>
                  <div class="profile-avatar text-center">
                  <%= image_tag @current_user.avatar.url(:square) %>             </div>
                <% else %>
                  <div class="profile-picture"></div>
                <% end %>
		</div>
	</div>
	<div class="row">
		<div class="columns large-8">
			<%= f.label :avatar, "Profile Picture" %>
			<%= f.file_field :avatar %>
		</div>
	</div>
	<div class="row">
		<div class="columns large-8">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
	</div>
	<div class="row">
		<div class="columns large-8">
			<%= f.label :theme_option, "Theme" %>
			<%= f.select :theme_option, options_for_select(@themes)%>
		</div>
	</div>
	<div class="row">
		<div class="large-8 columns">
			<%= f.submit class: 'button expand' %>
		</div>
	</div>
<% end %>