%section.new-user-form


	= form_for @user do |f|
		- if @user.errors.any?
			%ul.error_msgs
				- @user.errors.full_messages.each do |msg|
					%li= msg

		%div.input-group
			= f.label :username
			= f.text_field :username, autofocus: true 

		%div.input-group
			= f.label :email
			= f.text_field :email
		
		%div.input-group
			= f.label :password
			= f.password_field :password

		%div.input-group
			= f.label :password_confirmation
			= f.password_field :password_confirmation

		%div.input-group	
			%label
			= f.submit

