<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="top-nav">
		<span id="top-nav-logo"><%= link_to 'feats', root_path %></span>
		<ul class="top-nav-ul">
			<li class="top-nav-item"><%= link_to 'Home', root_path %></li>
			<% unless @current_user %>
				<li class="top-nav-item"><%= link_to 'Login', login_path %></li>
			<% end %>
			<% if @current_user %>
			<li class="top-nav-item"><%= link_to @current_user.username.capitalize + "'s Dashboard", feats_path %></li>
			<li class="top-nav-item"><%= link_to 'Logout', login_path, :method => :delete, :data => {:confirm => "Are you sure?"} %></li>
			<% end %>
		</ul>
	</nav>
	<main>
		<div class="nav-content">
			<%= link_to 'Add Badge', new_badge_path %>
		</div>
		<div class="main-content">
					<%= yield %>
		</div>

	</main>
	<footer>
		&copy; Nicholas Matenaar | 2014 | WDI PROJECT 1 | Australia
	</footer>
</body>
</html>
