<!DOCTYPE html>
<html>
<head>
  <title>Feats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<nav class="top-nav">
		<span id="top-nav-logo"><%= link_to 'feats', root_path %></span>
		<ul class="top-nav-ul dashboard-top">
			<li class="top-nav-item dashboard-top"><%= link_to 'Home', root_path %></li>
			<% unless @current_user %>
				<li class="top-nav-item"><%= link_to 'Login', login_path %></li>
			<% end %>
			<% if @current_user %>
			<li class="top-nav-item"><%= link_to @current_user.username.capitalize + "'s Dashboard", feats_path %></li>
			<li class="top-nav-item"><%= link_to 'Logout', login_path, :method => :delete, :data => {:confirm => "Are you sure?"} %></li>
			<% end %>
		</ul>
	</nav>
	<div class="sidebar-dashboard" id="startpage">
		<div class="sidebar-profile">
			<div class="profile-picture">
				
			</div>
			<div class="profile-stat">
				<p class="stat-number"><%= @current_user.feats.where(completed: false).count %></p>
				<p>feats</p>
			</div>
			<div class="profile-stat">
				<p class="stat-number"><%= @current_user.feats.where(completed: true).count %></p>
				<p>completed</p>
			</div>
			<div class="profile-stat">
				<p class="stat-number"><%= @current_user.badges.count %></p>
				<p>badges</p>
			</div>
			<div class="xp-bar">
				<div class="xp-bar-outer">
					<div class="xp-bar-inner" style="
						width: <%= @current_user.xp_to_percent %>;
					"></div>
				</div>
			</div>
			<div class="level">
				<p>LVL <%= @current_user.level %></p>
			</div>
		</div>
		<div class="sidebar-menu">
			<ul class="sidebar-menu-ul">
				<li class="sidebar-menu-item <%= 'sidebar-selected' if current_page?(:action => 'index') %>">
					<% if current_page?(:action => 'index') %>
						<%= image_tag 'dashboard-logo-selected.svg', class: 'sidebar-logo' %>
					<% else %>
						<%= image_tag 'dashboard-logo.svg', class: 'sidebar-logo' %>
					<% end %>
					<%= link_to 'DASHBOARD', feats_path %>
				</li>
				<li class="sidebar-menu-item">
					<%= image_tag 'profile-logo.svg', class: 'sidebar-logo' %>
					<%= link_to 'PROFILE', feats_path %>
				</li>
				<li class="sidebar-menu-item <%= 'sidebar-selected' if current_page?(:action => 'show_completed') %>">
					<% if current_page?(:action => 'show_completed') %>
						<%= image_tag 'completed-logo-selected.svg', class: 'sidebar-logo' %>
					<% else %>
						<%= image_tag 'completed-logo.svg', class: 'sidebar-logo' %>
					<% end %>
					<%= link_to 'COMPLETED', show_completed_feats_path %>
				</li>
				<li class="sidebar-menu-item">
					<%= image_tag 'badges-logo.svg', class: 'sidebar-logo' %>
					<%= link_to 'BADGES', feats_path %>
				</li>
				<li class="sidebar-menu-item">
						<%= link_to 'ADMIN PANEL', admins_path if is_admin? %>
				</li>
				<li class="sidebar-menu-item"></li>
				<li class="sidebar-menu-item sidebar-settings">
					<%= image_tag 'settings-logo.svg', class: 'sidebar-logo' %>
					<%= link_to 'SETTINGS', feats_path %>
				</li>
			</ul>
		</div>
	</div><!-- 
	--><main class="main-dashboard">
		<%= yield %>
	</main>
	<footer>
		&copy; Nicholas Matenaar | 2014 | WDI PROJECT 1 | Australia
	</footer>
</body>
</html>
