<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Feats" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Navigation -->
    <%= render 'layouts/navigation' %>

    <!-- Content -->
    <div class="dashboard-row">
      <div class="dashboard-container">
        <!-- Sidebar -->
        <div class="medium-3 columns sidebar" id="sidebar">
        
          <!-- Profile Section -->
          <div class="row profile">
            <div class="small-12 columns text-centered">
              <div class="row theme-background-<%= @current_user.theme_option %>">
                <% if @current_user.avatar.exists? %>
                  <div class="profile-avatar text-center">
                  <%= image_tag @current_user.avatar.url(:square) %>             </div>
                <% else %>
                  <div class="profile-picture"></div>
                <% end %>
              </div>
              <div class="row theme-background-<%= @current_user.theme_option %>">
                <div class="row white text-center" id="user-specs">
                  <div class="small-4 columns">
                    <h4 class="white"><%= @current_user.feats.where(completed: false).count  %></h4>
                    <p>feats</p>
                  </div>
                  <div class="small-4 columns">
                   <h4 class="white"><%= @current_user.feats.where(completed: true).count %></h4>
                    <p>competed</p>
                  </div>
                  <div class="small-4 columns">
                    <h4 class="white"><%= @current_user.badges.count %></h4>
                    <p>badges</p>
                  </div>
                </div>
              </div>
              <div class="row theme-background-<%= @current_user.theme_option %> progress-meter">
                <div class="progress small-10 small-centered columns round ">
                  <span class="meter" style="width: <%= @current_user.xp_to_percent %> "></span>
                </div>
              </div>
              <div class="row theme-background-<%= @current_user.theme_option %>">
                <div class="small-12 small-centered columns"><p class="text-center"><strong>LVL <%= @current_user.level %></strong></p></div>
              </div>           
            </div>
          </div>
          <!-- Nav section -->
          <div class="row side-bar-nav">
          <div class="large-12 columns">
            <ul class="side-nav text-right side-nav-custom">
              <li class=<%= 'active' if current_page?(:controller => 'feats', :action => 'index') %>>
                <%= link_to icon('tachometer') + "DASHBOARD", feats_path %>
              </li>
              <li class=<%= 'active' if current_page?(:controller => 'feats', :action => 'show_completed') %>>
              <%= link_to icon('check-square') + 'COMPLETED', show_completed_feats_path %></li>
              <li class=<%= 'active' if current_page?(:controller => 'dashboard', :action => 'badges') %>><%= link_to icon('trophy') +  'BADGES', dashboard_badges_path %></li>
              <li><%= link_to icon('bolt') + 'ADMIN PANEL', admins_path if is_admin? %></li>

              <li><%= link_to icon('cog') + 'SETTINGS', edit_user_path(@current_user)%></li>
            </ul>
          </div>
          </div>

          
        </div>
        <!-- Main Content -->
        <div class="medium-9 columns dashboard-main">
          <% unless @badge_msg.empty? %>
            <div class="row top-msg">
              <div class="columns small-12">
                <% @badge_msg.each do |b| %>
                  <div data-alert class="alert-box">
                    <%= b %>
                    <a href="#" class="close">&times;</a>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>





    <%= javascript_include_tag "application" %>
  </body>
</html>