<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Feats" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Navigation -->
    <%= render 'layouts/navigation' %>

    <!-- Content -->
    <div class="dashboard-row">
      <div class="dashboard-container">
        <!-- Sidebar -->
        <div class="medium-4 columns sidebar" id="sidebar">
          <!-- Profile Section -->
          <div class="row profile">
            <div class="small-12 columns text-centered">
              <div class="row profile">
                <div class="profile-picture">             </div>
              </div>
              <div class="row profile">
                <div class="row white text-center" id="user-specs">
                  <div class="small-4 columns">
                    <h4 class="white"><%= @current_user.feats.where(completed: false).count  %></h4>
                    <p>feats</p>
                  </div>
                  <div class="small-4 columns">
                   <h4 class="white"><%= @current_user.feats.where(completed: true).count %></h4>
                    <p>competed</p>
                  </div>
                  <div class="small-4 columns">
                    <h4 class="white"><%= @current_user.badges.count %></h4>
                    <p>badges</p>
                  </div>
                </div>
              </div>
              <div class="row profile progress-meter">
                <div class="progress small-10 small-centered columns round ">
                  <span class="meter" style="width: <%= @current_user.xp_to_percent %> "></span>
                </div>
              </div>
              <div class="row profile">
                <div class="small-12 small-centered columns"><p class="text-center"><strong>LVL <%= @current_user.level %></strong></p></div>
              </div>           
            </div>
          </div>
          <!-- Nav section -->
          <div class="row side-bar-nav">
            <ul class="side-nav text-right side-nav-custom">
              <li><%= link_to 'DASHBOARD', feats_path %></li>
              <li><%= link_to 'PROFILE', feats_path %></li>
              <li><%= link_to 'COMPLETED', show_completed_feats_path %></li>
              <li><%= link_to 'BADGES', dashboard_badges_path %></li>
              <li></li>
            </ul>
          </div>

          
        </div>
        <!-- Main Content -->
        <div class="medium-8 columns dashboard-man">
          <%= yield %>
        </div>
      </div>
    </div>






    <%= javascript_include_tag "application" %>
  </body>
</html>